
.boton-home {
  font-size: 30px;
  color: rgb(95, 4, 138); 
}

.boton-ayuda{
  font-size: 30px;
  color: rgb(95, 4, 138);
}

.config{
  font-size: 30px;
  color: rgb(95, 4, 138);
}
.custom-button {
  --padding-end: 3px; 
  --padding-start: 3px; 
  --background: transparent; 
  
}
.title-reg{
  color: rgb(95, 4, 138);
}
.pregunta{
  color:rgb(95, 4, 138);
}