<ion-header>
  <ion-toolbar>
    <ion-title class="titulo custom-title">
      TeleTrabajos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">
        ¡Bienvenido a la nueva plataforma para encontrar trabajo online!
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button class="botonI" color= warning  expand="block" [routerLink]="['/login']">Inicio de sesión</ion-button>
  <ion-button class="botonI" color= warning   expand="block" [routerLink]="['/registro']">Registrate</ion-button>
  <ion-card class="tele custom-card">Personas que encontraron empleo en el sitio:</ion-card>
  <ion-button class="botonI" color= warning  expand="block" [routerLink]="['/api']">Tele trabajadores</ion-button>
</ion-content>